article {
    position: fixed;
    margin-left: 10px;
}


#navlist {
    background-color: #d768ab;
    position: fixed;
    left: 45%;
    top: -60px;
    width: auto;
    display: block;
    transition: top 0.3s;
}

#navlist a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}


#navlist a:hover {
    background-color: #ebeaea;
    color: black;
}